In [1]:
import pandas as pd

### Question 1

In [2]:
data = {'name':['Andy','Jose','Dieu','Chloe','Jose'], 'continent':['America','Europe','Asia','America','Europe'],
       'college':['Lib Art', 'Business', 'Engineering', 'Engineering', 'Business']}
STUDENTS = pd.DataFrame(data = data)

In [26]:
# Create new dataframe COUNTS
# 1.A
remove_dup = STUDENTS.drop_duplicates(keep='first')

# 1.B
count_continent_colleage = remove_dup.groupby(['continent','college']).agg({'name':'count'})
count_continent_colleage = count_continent_colleage.rename(columns={'name':'student count'})

#1.C creating the pivot COUNTS table
COUNTS = pd.pivot_table(remove_dup, values='name', index='college', columns='continent',aggfunc='count')

#1.D reset index 

COUNTS_remove_index = pd.pivot_table(remove_dup, values='name', index='college', columns='continent',aggfunc='count').reset_index()

#1.E fill NA == 0

COUNTS = COUNTS.fillna(0)

#1.F Sort COUNTS reverse alphabetically by college name 

COUNTS = COUNTS.sort_index(axis=0, ascending=False)

In [28]:
# Desired output
COUNTS

continent    America  Asia  Europe
college
Lib Art          1.0   0.0     0.0
Engineering      1.0   1.0     0.0
Business         0.0   0.0     1.0

### Question 2

- A. A
- B. A
- C. B <br>
**R Section**
- A. C
- B. C
- C. C